@import '../../scss/variables';
// @import '../../scss/components/button';

.error {
	text-align: center;
  padding: 100px 0;
}

.desc {
	font-size: 24px;
	span {
		font-size: 80px;
		color: $orange;
	}
}
